@import "~@styles/colors.scss";
$transitionSpeed: 400ms;
#login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  background-color: $h3;
  padding: 20px;
  border-bottom: 5px solid $bg3;
  border-left: 5px solid $bg3;
  border-top: 5px solid $bg3;
  border-right: 5px solid $bg3;

  box-sizing: border-box;
  h1 {
    color: white;
  }
  label {
    display: block;
    padding-top: 20px;
    font-size: 16px;
    color: white;

    // color: red;
  }
  input {
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: $bg1;
    border: none;
    outline: none;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    //border-bottom: 3px solid $fg2;
    box-sizing: border-box;
    &:active {
      background-color: $bg11;
    }
    &:focus {
      background-color: $bg11;
    }
    &:hover {
      transition: $transitionSpeed;
      background-color: $bg11;
    }
  }
  button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    background-color: $fg3;
    border: none;
    color: white;
    margin-top: 20px;
  }
}
.wrapper {
  background-color: $bg1;
  height: 100%;
  width: 100%;
  position: relative;
}
