$bg1: #ffffff;
$bg11: rgb(204, 138, 226);
$bg2: #1c0b19;
$bg3: #120d31;
$bg31: #0b0820;
$bg32: #261b6d;
$fg1: #000;
$fg2: #621b00;
$fg3: #61b56b;
$fg31: rgb(0, 107, 12);
$h1: rgb(241, 253, 242);
$h3: rgb(13, 10, 37);